* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    /* font-family: 'MiFuentePersonalizada', sans-serif; */
    background-color: black;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 700;
    height: 200px;
}

nav {
    background: rgb(202, 204, 207);
    border-radius: 12px;
    color: black;
    position: fixed;
    width: 95%;
    z-index: 1000;
    height: 150px;
    text-align: center;
    font-size: 32px;
    display: flex;
    justify-content: start;
    align-items: center;

}

nav img {
    height: 130px;
    width: 200px;
    margin-right: 300px;
}

nav h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

main {
    padding-top: 100px;
    width: 100%;
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

/* HERO */

main .hero {
    width: 900px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;


}

.hero .usa {
    background: #021AB5;
    background: linear-gradient(90deg, rgba(227, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(2, 26, 181, 1) 100%);
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hero .canada {
    background: #E30000;
    background: linear-gradient(90deg, rgba(227, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(227, 0, 0, 1) 100%);
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .mexico {
    background: #E30000;
    background: linear-gradient(90deg, rgba(15, 128, 21, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(227, 0, 0, 1) 100%);
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


main .hero .hero-image {
    width: 100px;
    height: 100px;
}

/* GRUPOS */

.groups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}

.groups-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px;
    border-radius: 10px;
    background: rgb(29, 38, 53);
    backdrop-filter: blur(20px);
    padding-top: 1%;
}

.group-title {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 2%;
}

.column1-titles {
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;

}

.column1-titles .country {
    width: 40%;
    text-align: left;
    padding: 10px;
}


.column1-titles .matches {
    width: 10%;
}

.column2-titles {
    padding: 0%;
}

.column2-titles {
    display: flex;
    width: 100%;
    align-items: center;
}

.column2-titles .country {
    width: 40%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 10px;
}

.column2-titles .country span img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.column2-titles .matches {
    width: 10%;
    display: flex;
    align-items: center;
}

.column3-titles {
    display: flex;
    width: 100%;
    align-items: center;
}

.column3-titles .country {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
}

.column3-titles .country span img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.column3-titles .matches {
    width: 10%;
    display: flex;
    align-items: center;
}

.column4-titles {
    display: flex;
    width: 100%;
    align-items: center;
}

.column4-titles .country {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
}

.column4-titles .country span img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.column4-titles .matches {
    width: 10%;
    display: flex;
    align-items: center;
}

.column5-titles {
    display: flex;
    width: 100%;
    align-items: center;
}

.column5-titles .country {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
}

.column5-titles .country span img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.column5-titles .matches {
    width: 10%;
    display: flex;
    align-items: center;
}

/* PARTIDOS */

.matches-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    padding: 20px;
}

.matches-title {
    font-size: 24px;
    margin-bottom: 3%;
}

.matches-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match {
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: rgb(29, 38, 53);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 50%;
}

.match-date {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.match-time {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.match-rivals {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 50%;
}

.rival1team {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    height: 100%;

}

.rival1score {
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100%;
    font-size: 2rem;
    font-weight: bolder;
}

.rival2team {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    height: 100%;


}

.rival2score {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 100%;
    font-size: 2rem;
    font-weight: bolder;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.save-container {
    /* padding-right: 2%; */
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
}

.save-container button {
    background-color: #09e014;
    border: none;
    border-radius: 12px;
    height: 30px;
    font-weight: bold;
    width: 80px;

}

.undo-container button {
    background-color: #fc0b0b;
    color: #d9d9d9;
    height: 30px;
    font-weight: bold;
    width: 80px;

}

.deleteBtn {
    background-color: rgb(182, 52, 52);
    width: 100px;
    height: 50px;
    border: none;
    font-weight: 700;
    color: #ececec;
    border-radius: 12px;
}

.deleteBtn:hover {
    color: rgb(182, 52, 52);
    background-color: #ececec;
}

.matchComplete {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(29, 38, 53);
}

.matchComplete .match-rivals {
    width: 80%;
}



/* MEDIA QUERIES */

@media only screen and (max-width:1500px) {

    nav img {
        margin-right: 10%;

    }

    .match {
        width: 70%;
    }


    .match-time {
        width: 10%;
    }

    .rival1team {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        height: 100%;

    }

    .save-container {

        width: 15%;

    }

}

@media only screen and (max-width:1000px) {

    nav h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        font-size: 2rem;
    }

    main {
        padding-top: 50px;
    }

    main .hero {
        width: 80%;
    }

    .hero .mexico img {
        width: 80px;
        height: 80px;
    }

    .hero .canada img {
        width: 80px;
        height: 80px;
    }

    .hero .usa img {
        width: 80px;
        height: 80px;
    }

    .matches-board {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        padding: 20px;
    }

    .matches-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3%;
    }

    .match {
        width: 100%;

    }

    .match-date {
        font-size: .9rem;
        height: 100%;
        width: 10%;
    }

    .match-time {
        font-size: .9rem;
        width: 10%;
        height: 100%;

    }

    .match-rivals {
        font-size: .9rem;
        height: 100%;
        width: 65%;
        justify-content: start;

    }

    .rival1team {
        font-size: .9rem;
        width: 35%;
        height: 100%;
    }

    .rival1score {
        font-size: 2rem;
        width: 15%;
    }

    .rival2team {
        font-size: .9rem;
        width: 35%;
        height: 100%;
    }

    .rival2score {
        font-size: 2rem;
        width: 15%;
    }

    .save-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 100%;
    }

}


@media only screen and (max-width:600px) {

    nav {
        padding-right: 4%;
    }

    nav h1 {
        font-size: 1.2rem;
    }

    main {
        justify-content: center;
    }

    .hero .mexico img {
        width: 60px;
        height: 60px;
    }

    .hero .canada img {
        width: 60px;
        height: 60px;
    }

    .hero .usa img {
        width: 60px;
        height: 60px;
    }


    .group {
        width: 100%;
    }

    .country {
        font-size: .9rem;
    }

    .match {
        width: 100%;
        height: 200px;
        flex-direction: column;
    }

    .match-date {
        font-size: .9rem;
        width: 100%;
        height: 20%;

    }

    .match-time {
        font-size: .9rem;
        width: 100%;
        height: 20%;


    }


    .match-rivals {
        font-size: .9rem;
        height: 20%;
        width: 100%;
        justify-content: start;
        margin-bottom: 3%;

    }

    .rival1team {
        font-size: 1rem;
        text-align: center;
        width: 35%;
        height: 100%;
    }

    .rival1score {
        font-size: .9rem;
        width: 15%;
    }

    .rival2team {
        font-size: 1rem;
        width: 35%;
        height: 100%;
        text-align: center;
    }

    .rival2score {
        font-size: .9rem;
        width: 15%;
    }

    .save-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
    }



}

@media only screen and (max-width:400px) {

    .rival1team,
    .rival2team {
        font-size: .7rem;

    }

}